.container{
    position: relative;
    margin: 0;
    right: 450px;
    top: 1490px;
   
}

.foto{
        position: relative;
        bottom: 120px;
        left: 820px;
        height: 25%;
        width: 18em;
      height: 15em;
      border-radius: 39px 39px 39px 39px;
      -webkit-border-radius: 39px 39px 39px 39px;
      -moz-border-radius: 39px 39px 39px 39px;
      border: 10px solid rgb(14, 13, 13);
      z-index: 2;
      box-shadow: 17px 0px 24px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 17px 0px 24px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 0px 24px 8px rgba(0,0,0,0.75);
    }



.About{
    color: blanchedalmond;
    font-size: 25px;
}


.name{
    position: relative;
    color: rgb(99, 98, 98);
    margin: 0;
    left: 180px;
    top: 50px;
}


.page {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
    line-height: 1.2rem;
    padding: 1.4rem 0.5rem 0.3rem 4.5rem;
  }
  
  .page::before,
  .page::after {
    position: absolute;
    content: "";
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .page::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }
  
  .page::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }
  
  .page:hover::before,
  .page:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
  }
  
  .margin {
    position: absolute;
    border-left: 1px solid #d88;
    height: 100%;
    left: 3.3rem;
    top: 0;
  }
  
  .page p {
    margin: 0;
    text-indent: 1rem;
    padding-bottom: 1.2rem;
    color: black;
    line-height: 20px;
  }

  @media only screen and (max-width: 765px) {
    .container{
        position: absolute;
        top: 500px;
        right: 5px;
        color: white;
        margin-bottom: 200px;
        width: 90%;
        
    }

    .name{
      position: relative;
      color: rgb(99, 98, 98);
      margin: 0;
      left: -15px;
      top: 30px;
  }

  .About{
    position: relative;
    color: blanchedalmond;
    font-size: 25px;
    right: 20px;
}


.foto{
  position: relative;
  bottom: -55px;
  font-size: 10px;
  left: -10px;
  height: 25%;
  width: 18em;
height: 15em;
border-radius: 39px 39px 39px 39px;
-webkit-border-radius: 39px 39px 39px 39px;
-moz-border-radius: 39px 39px 39px 39px;
border: 10px solid rgb(14, 13, 13);
z-index: 2;
box-shadow: 17px 0px 24px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 17px 0px 24px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 0px 24px 8px rgba(0,0,0,0.75);
}

   }